/* Space out content a bit */
body {
  padding-bottom: 20px;
  font-size: 17px;
}

.label:hover { text-decoration: none; }

.showmore-content {
    overflow: hidden;
    height: 165px;
}

.showmore-content p {
    font-size: 14px;
    line-height: 20px;
}

.showmore, .showless {
    margin-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron li {
  font-size: 16px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

/* MAP styles */
/* SHI YIN
#map {
    min-height: 500px;
}
*/
.leaflet-top.leaflet-left{
    margin-left: 20px;
}
.row.filters {
    margin-left: 5px;
}

/* Datepicker styles */

.ui-widget {
    font-size: 0.9em;
}

.ui-datepicker {
    width: 22.5%;
    height: auto;
}

.ui-datepicker table {
    width: 100%;
    background-color: #fff;
}

.ui-datepicker table td,
.ui-datepicker table th {
    padding: 0;
}

.ui-datepicker-header {
    color: #333;
    background-color: #DDD;
    font-weight: bold;
}

.ui-datepicker-title {
    text-align: center;
    line-height: 30px;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    cursor: pointer;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
    margin-right: 5px;
}

.ui-datepicker-next:after {
    content: "";
    border-color: rgba(0,0,0,0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333;
    border-image: none;
    border-style: solid;
    border-width: 9px;
    display: block;
    height: 0;
    margin-top: 5px;
    width: 0;
}
.ui-datepicker-prev:before {
    content: "";
    border-color: rgba(0,0,0,0) #333 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 9px;
    display: block;
    height: 0;
    margin-top: 5px;
    width: 0;
}

.ui-datepicker th {
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
}

.ui-datepicker tbody td {
    border-right: none;
    text-align: center;
    padding: 3px 0;
}
.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px
}

.ui-tooltip {
    width: 25%;
    overflow: hidden;
}

/* Response */
.response-table {
    width: 100%;
}

/* Map legend styles */
.legend {
    line-height: 18px;
    color: #555;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend div {
    padding: 10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/*================ *
 *================ *
 *=====SHI YIN==== *
 *================ *
 *================ *
 *================ */

.no-disp {
    display: none;
}

#menu {
  position: absolute;
  z-index: 10000;
  left: 0px;
  top: 50px;
}
#menu.well {
  padding: 10px 0 15px;
  background-color: #;
}
#menu label {
  font-size: 14px;
}
#menu .dropdown label {
  font-family: 'Open Sans', sans-serif;
}
#menu .form-group {
  margin: 0;
}
#menu li {
  margin: 0 15px 0 0;
}
#menu .row {
  margin-bottom: 15px;
}
#menu label {
  margin: 0 10px 0 0;
}
#li-acc {
  width: 143px;
}
#li-tra {
  width: 116px;
}
#li-dep {
  max-width: 141px;
}
#li-thr {
  width: 164px;
}
#li-fil {
  width: 120px;
}
#li-cat {
  width: 200px;
}
.navbar {
  margin-bottom: 0px;
}
body {
  padding-bottom: 0px;
  font-size: 17px;
}

.about {
  width: 45em;
  margin: 60px auto;
  padding: 30px;
  border: 1px;
  border-style: solid;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  border-color: #ddd;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

.combined.row {
  margin: 0 2px;
}

.combined .col-md-6 {
  padding: 0 2px;
}

.combined #map {
  padding: 0;
  display: flex;
}

.combined #map2 {
  padding: 0;
  display: flex;
}

