{% extends "layout.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class=""><a href="{{ url_for('index') }}">Accessibility</a></li>
    <li class=""><a href="{{ url_for('travel') }}">Travel Time</a></li>
    <li class=""><a href="{{ url_for('combined') }}">Combined</a></li>
    <li class="active"><a href="{{ url_for('about') }}">About</a></li>
</ul>
{% endblock %}

{% block main %}
            <div class="about">
                <h2>About</h2>
                <p>The Metropolitan Chicago Accessibility Explorer is a product of the <a href="http://ntilahun.com/" target="_blank">Urban Transportation & Behavior Research Group</a> at the <a href="http://www.uic.edu/cuppa/upp/" target="_blank">Department of Urban Planning and Policy</a> at UIC. The goal of the Explorer is to measure and display accessibility to a variety of activities in the Chicago Metropolitan area in a relatively simple, user friendly, online platform. We want it to be a resource that planners and policy makers can readily use to evaluate how well the transportation system is connecting people to activity locations.</p>
                <p>Using the Accessibility Explorer, questions about how many jobs, schools, parks, groceries etc. can be reached by residents of a specific neighborhood in reasonable time by a given mode can be answered quickly. One can evaluate the changes to accessibility over the course of a day as transit systems adjust their schedules. It allows us to see the spatial distribution of access the transportation-land use nexus currently provides and which areas it benefits and which can use improvements.</p>
                <p>The tool, through the travel time map, also has the capability to show how far one can travel from different neighborhoods/areas of the metropolitan area by different modes. Together with the accessibility explorer, this capability offers the user the see where changes in land use can be made to alter accessibility to jobs or other opportunities for different origins.</p>

                <p>More detail on the Accessibility Explorer can be found in our report here: <a href="final_report.pdf">Final Report</a>.</p>

                <h2>Sponsors</h2>
                <p>The Metropolitan Chicago Accessibility Explorer was funded by the <a href="http://utc.webhost.uic.edu/metsi/" target="_blank">Metropolitan Transportation Support Initiative (METSI)</a> and the <a href="http://www.nctr.usf.edu/" target="_blank">National Center for Transit Research (NCTR-USF)</a> through UIC's <a href="http://utc.uic.edu/" target="_blank">Urban Transportation Center</a>. </p>

                <h2>Questions</h2>

                <p>Please contact <a href="http://ntilahun.com/" target="_blank">Dr. Nebiyou Tilahun</a> at ntilahun at uic dot edu.</p>
                <p>Server and website are maintained by <a href="http://joysword.com/" target="_blank">Shi Yin</a>. Shi can be reached at syin8 at uic dot edu.</p>
                <p><img src="{{ url_for('static', filename='img/upp.png') }}"></img>
                <img src="{{ url_for('static', filename='img/utc.png') }}"></img></p>
            </div>
{% endblock %}
