{% extends "index.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class=""><a href="{{ url_for('index') }}">Accessibility</a></li>
    <li class=""><a href="{{ url_for('travel') }}">Travel Time</a></li>
    <li class="active"><a href="{{ url_for('combined') }}">Combined</a></li>
    <li class=""><a href="{{ url_for('about') }}">About</a></li>
</ul>
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block main %}
        <div class="combined row">
            <div class="col-md-6">
                <div id="map"></div>
            </div>
            <div class="col-md-6">
                <div id="map2"></div>
            </div>
        </div>
        <div id="overlay-1" class="overlay">
            <div class="overlay-inner">
                <p>The combined site allows you to see both access and travel time by your chosen mode side by side.</p><p>Select the accessibility you wish to see including the type of opportunities and mode and click on Show Map.</p><p>Once the map loads, you can select your area of interest on the travel time map to see the locations that are within different travel time thresholds from your area of interest.</p><p>The goal is to show users where new opportunities (jobs, etc.) can be attracted to with the goal of increasing access within certain travel time thresholds.</p>
            </div>
        </div>
{% endblock %}

{% block js %}
<!-- custom js -->
<script src="{{ url_for('static', filename='js/combined.js') }}"></script>
{% endblock %}