{% extends "index.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class=""><a href="{{ url_for('index') }}">Accessibility</a></li>
    <li class=""><a href="{{ url_for('travel') }}">Travel Time</a></li>
    <li class="active"><a href="{{ url_for('combined') }}">Combined</a></li>
    <li class=""><a href="{{ url_for('about') }}">About</a></li>
</ul>
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block main %}
        <div class="combined row">
            <div class="col-md-6">
                <div id="map"></div>
            </div>
            <div class="col-md-6">
                <div id="map2"></div>
            </div>
        </div>
        <div id="overlay-1" class="overlay">
            <div class="overlay-inner">
                <p>The combined page allows you to see both accessibility and travel time by your chosen mode side by side.</p><p>Select the accessibility you wish to see including the type of opportunities and mode and click on Show Map.</p><p>Once the map loads, you can select your area of interest on the travel time map to see the locations that are within different travel time thresholds from your area of interest.</p><p>The goal is to show users where new opportunities (e.g. jobs) can be located with the goal of increasing access within a desired travel time threshold.</p>
                <p class="pull-right"><button id="btn-one-combined" class="btn btn-primary btn-sm btn-close" type="button">Close for now</button>&nbsp;&nbsp;&nbsp;<button id="btn-all-combined" class="btn btn-default btn-sm btn-close" type="button">Got it, don't show again</button></p>
            </div>
        </div>
{% endblock %}

{% block js %}
<!-- custom js -->
<script src="{{ url_for('static', filename='js/combined.js') }}"></script>
{% endblock %}