<!DOCTYPE html>
<html lang="en" style="height: 100%;">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="Shi Yin">

        <title>Metropolitan Chicago Accessibility Explorer</title>

		<!-- Bootstrap core CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" >
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" >
        <!--<link href="//plenario.datamade.us/static/css/bootstrap.min.css" rel="stylesheet" >-->
        <!--<link href="//plenario.datamade.us/static/css/font-awesome.css" rel="stylesheet" >-->

        <!-- Mapbox core CSS -->
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet' />
        <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
        <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css' rel='stylesheet' />

        <!-- custom css -->
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

        <script type='text/javascript'>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
    </head>

    <body style="height: 100%">
        <!-- Navigation bar -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Metropolitan Chicago Accessibility Explorer</a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                    <li class=""><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        <!-- end of Navigation bar -->

        <!-- main -->



        <div id="map"></div>
        <div id="menu" class="well">
            <div id="sidebar">
                <div>
                    <form role="form">
                        <div class="form-group">
                            <div id="form-acc">
                                <label for="select-acc">Accessibility To: </label>
                                <select id="select-acc" class="form-control">
                                    <option value="job" selected>Jobs</option>
                                    <option value="park_area">Parks (area)</option>
                                    <option value="park_count">Parks (count)</option>
                                    <option value="library">Libraries</option>
                                    <option value="fire_sta">Fire Stations</option>
                                    <option value="school">Schools (all)</option>
                                    <option value="pri_sch">Schools (private)</option>
                                    <option value="pub_sch">Schools (public)</option>
                                    <option value="hospital">Hospitals</option>
                                    <option value="grocery">Grocery Stores</option>
                                </select>
                            </div><!--/#form-acc-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-type">
                                <label for="select-type">Travel Mode: </label>
                                <select id="select-type" class="form-control">
                                    <option value="auto" selected>Auto</option>
                                    <option value="transit">Transit</option>
                                    <option value="weighted">Weighted</option>
                                </select>
                            </div><!--/#form-type-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-type-less" class="no-disp">
                                <label for="select-type-less">Travel Mode: </label>
                                <select id="select-type-less" class="form-control">
                                    <option value="auto" selected>Auto</option>
                                    <option value="transit">Transit</option>
                                    <option value="walking">Walking</option>
                                </select>
                            </div><!--/#form-type-less-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-time" class="no-disp">
                                <label for="select-time">Departure Time: </label>
                                <select id="select-time" class="form-control">
                                    <option value="0">midnight</option>
                                    <option value="1">1 am</option>
                                    <option value="2">2 am</option>
                                    <option value="3">3 am</option>
                                    <option value="4">4 am</option>
                                    <option value="5">5 am</option>
                                    <option value="6">6 am</option>
                                    <option value="7">7 am</option>
                                    <option value="8" selected>8 am</option>
                                    <option value="9">9 am</option>
                                    <option value="10">10 am</option>
                                    <option value="11">11 am</option>
                                    <option value="12">noon</option>
                                    <option value="13">1 pm</option>
                                    <option value="14">2 pm</option>
                                    <option value="15">3 pm</option>
                                    <option value="16">4 pm</option>
                                    <option value="17">5 pm</option>
                                    <option value="18">6 pm</option>
                                    <option value="19">7 pm</option>
                                    <option value="20">8 pm</option>
                                    <option value="21">9 pm</option>
                                    <option value="22">10 pm</option>
                                    <option value="23">11 pm</option>
                                </select>
                            </div><!--/#form-time-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-time-less" class="no-disp">
                                <label for="select-time-less">Departure Time: </label>
                                <select id="select-time-less" class="form-control">
                                    <option value="8" selected>8 am</option>
                                    <option value="10">10 am</option>
                                    <option value="12">noon</option>
                                    <option value="14">2 pm</option>
                                    <option value="16">4 pm</option>
                                    <option value="18">6 pm</option>
                                    <option value="20">8 pm</option>
                                </select>
                            </div><!--/#form-time-less-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-threshold">
                                <label for="select-threshold">Travel Time Threshold: </label>
                                <select id="select-threshold" class="form-control">
                                    <option value="300">5 minutes</option>
                                    <option value="600">10 minutes</option>
                                    <option value="900">15 minutes</option>
                                    <option value="1200">20 minutes</option>
                                    <option value="1500">25 minutes</option>
                                    <option value="1800" selected>30 minutes</option>
                                    <option value="2100">35 minutes</option>
                                    <option value="2400">40 minutes</option>
                                    <option value="2700">45 minutes</option>
                                    <option value="3000">50 minutes</option>
                                    <option value="3300">55 minutes</option>
                                    <option value="3600">60 minutes</option>
                                </select>
                            </div><!--/#form-threshold-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-threshold-less" class="no-disp">
                                <label for="select-threshold-less">Travel Time Threshold: </label>
                                <select id="select-threshold-less" class="form-control">
                                    <option value="300">5 minutes</option>
                                    <option value="900">15 minutes</option>
                                    <option value="1800" selected>30 minutes</option>
                                    <option value="2700">45 minutes</option>
                                    <option value="3600">60 minutes</option>
                                </select>
                            </div><!--/#form-threshold-less-->
                        </div><!--/.form-group-->
                        <div class="form-group">
                            <div id="form-filter">
                                <label for="select-filter">Select Filter: </label>
                                <select id="select-filter" class="form-control">
                                    <option value="fi_all" selected>All Jobs</option>
                                    <option value="fi_age">By Age</option>
                                    <option value="fi_earning">By Earning</option>
                                    <option value="fi_industry">By Industry</option>
                                    <option value="fi_race">By Race</option>
                                    <option value="fi_ethnicity">By Ethnicity</option>
                                    <option value="fi_education">By Education Level</option>
                                    <option value="fi_gender">By Gender</option>
                                </select>
                            </div><!--/#form-filter-->
                        </div><!--/.form-group-->
                        <div id="form-category" class="form-group">
                            <div id="form-age"  class="no-disp">
                                <label for="select-age">Select Age: </label>
                                <select id="select-age" class="form-control">
                                    <option value="" disabled selected>please select age range</option>
                                    <option value="CA01">29 or younger</option>
                                    <option value="CA02">30 - 54</option>
                                    <option value="CA03">55 or older</option>
                                </select>
                            </div><!--/#form-age-->
                            <div id="form-earning" class="no-disp">
                                <label for="select-earning">Select Earning: </label>
                                <select id="select-earning" class="form-control">
                                    <option value="" disabled selected>please select earning range</option>
                                    <option value="CE01">$1250/month or less</option>
                                    <option value="CE02">$1251/month to $3333/month</option>
                                    <option value="CE03">greater than $3333/month</option>
                                </select>
                            </div><!--/#form-earning-->
                            <div id="form-industry" class="no-disp">
                                <label for="select-industry">Select Industry: </label>
                                <select id="select-industry" class="form-control">
                                    <option value="" disabled selected>please select an industry</option>
                                    <option value="CNS01">Agriculture, Forestry, Fishing and Hunting</option>
                                    <option value="CNS02">Mining, Quarrying, and Oil and Gas Extraction</option>
                                    <option value="CNS03">Utilities</option>
                                    <option value="CNS04">Construction</option>
                                    <option value="CNS05">Manufacturing</option>
                                    <option value="CNS06">Wholesale Trade</option>
                                    <option value="CNS07">Retail Trade</option>
                                    <option value="CNS08">Transportation and Warehousing</option>
                                    <option value="CNS09">Information</option>
                                    <option value="CNS10">Finance and Insurance</option>
                                    <option value="CNS11">Real Estate and Rental and Leasing</option>
                                    <option value="CNS12">Professional, Scientific, and Technical Service</option>
                                    <option value="CNS13">Management of Companies and Enterprises</option>
                                    <option value="CNS14">Administrative and Support and Waste Management and Remediation Services</option>
                                    <option value="CNS15">Educational Services</option>
                                    <option value="CNS16">Health Care and Social Assistance</option>
                                    <option value="CNS17">Arts, Entertainment, and Recreation</option>
                                    <option value="CNS18">Accommodation and Food Services</option>
                                    <option value="CNS19">Other Services [except Public Administration]</option>
                                    <option value="CNS20">Public Administration</option>
                                </select>
                            </div><!--/#form-industry-->
                            <div id="form-race" class="no-disp">
                                <label for="select-race">Select Race: </label>
                                <select id="select-race" class="form-control">
                                    <option value="" disabled selected>please select a race</option>
                                    <option value="CR01">White, Alone</option>
                                    <option value="CR02">Black or African American</option>
                                    <option value="CR03">American Indian or Alaska Native Alone</option>
                                    <option value="CR04">Asian Alone</option>
                                    <option value="CR05">Native Hawaiian or Other Pacific Islander Alone</option>
                                    <option value="CR07">Two or More Race Groups</option>
                                </select>
                            </div><!--/#form-race-->
                            <div id="form-ethnicity" class="no-disp">
                                <label for="select-ethnicity">Select Ethnicity: </label>
                                <select id="select-ethnicity" class="form-control">
                                    <option value="" disabled selected>please select ethnicity</option>
                                    <option value="CT01">Not Hispanic or Latino</option>
                                    <option value="CT02">Hispanic or Latino</option>
                                </select>
                            </div><!--/#form-ethnicity-->
                            <div id="form-education" class="no-disp">
                                <label for="select-education">Select Education Level: </label>
                                <select id="select-education" class="form-control">
                                    <option value="" disabled selected>please select an education level</option>
                                    <option value="CD01">Less than high school</option>
                                    <option value="CD02">High school or equivalent, no college</option>
                                    <option value="CD03">Some college or Associate degree</option>
                                    <option value="CD04">Bachelor's degree or advanced degree</option>
                                </select>
                            </div><!--/#form-education-->
                            <div id="form-gender" class="no-disp">
                                <label for="select-gender">Select Gender: </label>
                                <select id="select-gender" class="form-control">
                                    <option value="" disabled selected>please select gender</option>
                                    <option value="CS01">Male</option>
                                    <option value="CS02">Female</option>
                                </select>
                            </div><!--/#form-gender-->
                        </div><!--/.form-group-->
                        <button id="btn-submit" class="btn btn-primary" type="button"><i class="fa fa-search"></i>  Show Map</button>
                    </form>
                </div>
                <hr>
                <div>
                    <form role="form">
                        <div class="form-group">
                            <div id="form-lines">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" id="checkbox-cta">
                                        show CTA lines
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" id="checkbox-metra">
                                        show Metra lines
                                    </label>
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" id="checkbox-highway">
                                        show major highways
                                    </label>
                                </div> -->
                            </div><!--/#form-lines-->
                        </div><!--/.form-group-->
                    </form>
                </div>
            </div>
        </div>




        <!-- Bootstrap core JavaScript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!--<script src="//plenario.datamade.us/static/js/bootstrap.min.js"></script>-->

        <!-- Mapbox core JavaScript -->
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js'></script>

        <!-- Leaflet Omnivore JavaScript -->
        <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>

        <!-- moment.js, spin.js, etc -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.spin.js') }}"></script>
        <!--<script src="{{ url_for('static', filename='js/ejs_production.js') }}"></script>-->
        <script src="{{ url_for('static', filename='js/jenks.js') }}"></script>

        <!-- custom js -->
        <script src="{{ url_for('static', filename='js/accessibility.js') }}"></script>

    </body>
</html>
