{% extends "layout.html" %}
{% block navbar %}
<ul class="nav navbar-nav">
    <li class=""><a href="{{ url_for('index') }}">Accessibility</a></li>
    <li class="active"><a href="{{ url_for('travel') }}">Travel Time</a></li>
    <li class=""><a href="{{ url_for('combined') }}">Combined</a></li>
    <li class=""><a href="{{ url_for('about') }}">About</a></li>
</ul>
{% endblock %}

{% block menu %}
<div id="menu" class="well">
    <div class="col-md-12">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <div class="form-group">
                    <div id="form-type">
                        <label for="select-type">Travel Mode: </label>
                        <select id="select-type" class="form-control">
                            <option value="driving">Driving</option>
                            <option value="transit" selected>Transit</option>
                            <option value="bicycle">Bicycle</option>
                            <option value="walking"> Walking</option>
                        </select>
                    </div><!--/#form-type-->
                </div><!--/.form-group-->
            </li>
            <li class="dropdown">
                <div class="form-group">
                    <div id="form-time">
                        <label for="select-time">Departure Time: </label>
                        <select id="select-time" class="form-control">
                            <option value="0">midnight</option>
                            <option value="1">1 am</option>
                            <option value="2">2 am</option>
                            <option value="3">3 am</option>
                            <option value="4">4 am</option>
                            <option value="5">5 am</option>
                            <option value="6">6 am</option>
                            <option value="7">7 am</option>
                            <option value="8" selected>8 am</option>
                            <option value="9">9 am</option>
                            <option value="10">10 am</option>
                            <option value="11">11 am</option>
                            <option value="12">noon</option>
                            <option value="13">1 pm</option>
                            <option value="14">2 pm</option>
                            <option value="15">3 pm</option>
                            <option value="16">4 pm</option>
                            <option value="17">5 pm</option>
                            <option value="18">6 pm</option>
                            <option value="19">7 pm</option>
                            <option value="20">8 pm</option>
                            <option value="21">9 pm</option>
                            <option value="22">10 pm</option>
                            <option value="23">11 pm</option>
                        </select>
                    </div><!--/#form-time-->
                </div><!--/.form-group-->
            </li>
            <li class="form-group">
                <div id="form-lines">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="checkbox-cta">
                            Show rail lines
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="checkbox-community">
                            Show Chicago neighborhoods
                        </label>
                    </div>
                </div><!--/#form-lines-->
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="map"></div>
<div id="overlay-1" class="overlay">
    <div class="overlay-inner">
        <p>Welcome to the Metropolitan Chicago Accessibility Explorer's Isochrone Map.</p><p>This page gives you the ability to look at how far you can travel from any given origin by different modes within different travel times.</p><p>Use the menu at the top to choose the mode you are interested.</p><p>Once the map layer loads, click on any location to see how far you can get by your chosen mode within different travel times. Chaning the mode will update the map with travel time for the new mode.</p>
        <p class="pull-right"><button id="btn-overlay-once" class="btn btn-primary btn-sm btn-close" type="button">Close for now</button>&nbsp;&nbsp;&nbsp;<button id="btn-overlay-ever" class="btn btn-default btn-sm btn-close" type="button">Got it, don't show again</button></p>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- custom js -->
<script src="{{ url_for('static', filename='js/travel.js') }}"></script>
{% endblock %}
